@import "./variables.css";

body {
	line-height: 1.6;
	font-family: var(--font-sans);
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	background-color: var(--background-primary);
	color: var(--text-normal);
	font-size: var(--font-text-size);
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--color-link);
}

blockquote {
	border: 1px solid var(--color-base-30);
	color: var(--text-normal);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

code {
	background-color: var(--background-modifier-border);
	border-radius: var(--border-radius);
	display: inline-block;
	padding: 0 0.4rem;
}

hr {
	border: 0;
	border-top: solid 1px var(--background-modifier-border);
}

img {
	max-width: 100%;
	height: auto;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

/* Tables */
table {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;

	& td,
	& th,
	& tr {
		padding: 0.4rem 0.8rem;
		border: 1px solid var(--background-modifier-border);
	}
}