:root {
    --background-primary: var(--color-base-00);
    --background-modifier-border: var(--color-base-30);
    --border-radius: 5px;
    --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Microsoft YaHei", Arial, sans-serif;
    --font-h1-size: 2.3em;
    --font-text-size: 1.15em;
    --text-normal: var(--color-base-100);
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --color-link: blue;
      --color-base-00: #ffffff;
      --color-base-30: #e0e0e0;
      --color-base-100: #222222;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-link: gold;
      --color-base-00: #121212;
      --color-base-30: #363636;
      --color-base-100: #dadada;
    }
  }