---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('2023-04-29')}
	heroImage="/placeholder-about.jpg"
>
	<h2>关于我</h2>
	<p>
		生活所迫，敲敲代码，梦想是带着狗狗周游世界。
	</p>
	<p>
		喜欢动物，尤爱狗狗，看到狗狗忍不住会笑，会在心里打招呼。也不是所有的狗啦，就土狗和大型犬，泰迪吉娃娃之类的小狗并不感冒。
	</p>
	<p>
		喜欢极简，认为每件物品都该被好好使用，通过主动降低欲望让我和财富自由双向奔赴。
	</p>
	<p>
		喜欢听后摇和史诗，比如 Explosions In the Sky、The Evpatoria Report、Two Steps From Hell，还有古剑一和仙剑四的原声也非常爱听。
	</p>
	<p>
		喜欢自由自在、无拘无束的感觉，所以喜欢上户外运动。
	</p>
	<p>
		最开始喜欢骑行，骑过川藏线，环过青海湖，现在有辆公路车在家里吃灰……
	</p>
	<p>
		后来喜欢徒步，从船底顶到武功山，再到鳌太、狼塔 C+V、乌孙古道，这会儿徒步的背包已经脱胶……
	</p>
	<p>
		现在偶尔到市区的山里跑一跑，近郊，曾经热爱的，山和海竟也嫌远不想去……
	</p>
	<p>
		似乎热爱总是禁不起消磨。所以当你想做一件事时，去做，别等以后，因为以后未必还想做。
	</p>
	<h2>联系我</h2>
	<p>
		Telegram: <a href="https://t.me/nnfan" target="_blank">https://t.me/nnfan</a>
	</p>
</Layout>
