---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="py-4">
	<nav class="flex gap-4">
		<HeaderLink class="flex-grow" href="/">{SITE_TITLE}</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="https://twitter.com/wildfst" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/nnfan/astro-site" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
